@charset "UTF-8";

/*
   #99CD85 
   #CFE0BC 
   #7FA653
   #63783D
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #99CD85, #6a8a45, #63783D);
    }

    #login{
        width: 80vw;
    }

    #imagem{
        float: right;
        width: 30%;
        height: 100%;
    }
    

   #formulario{
    float: left;
    width: 70%;
    
   }

   #login{
    width: 80vw;
    height: 280px;
   }

}

@media screen and (min-width: 992px){

    body{
        background-image: linear-gradient(to bottom, #99CD85, #6a8a45, #63783D);
    }

    #login{
        width: 950px;
        height: 350px;
        font-size: 1em
    }

    #imagem{
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario{
        float: right;
        width: 50%
    }

    #formulario > h1{
        font-size: 2.0em;
    }

    #formulario > p{
        font-size:1.5em;
        margin: 10px 0px;
    }

}